.book {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-color: #ffffff;
}

.book img {
    max-width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.book h1 {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 5px;
    color:rgb(214, 144, 14)6;
}

.book h3 {
    font-size: 1rem;
    color: #a36666;
    margin: 0;
}
